*.png
*.svg
*.asv
*.tmw
*.l
*.htm
*.pdf
*.aux
*.log
*.toc
*.xml
*.eps
src/slprj
src/garbage
WINTER_report_2022_02_26.zip
*.fig
*.acn
*.bcf
*.fls
*.glo
*.ist
*.gz
*.jpg
*.emf
src/simulation_5/result.mat
*.blg
*.fdb_latexmk
*.aux 
*.log
