*.png
*.svg
*.asv
*.tmw
*.l
*.htm
*.pdf
*.aux
*.log
*.toc
*.xml
*.eps
src/slprj
src/garbage
WINTER_report_2022_02_26.zip
*.fig
*.acn
*.bcf
*.fls
*.glo
*.ist
*.gz
*.jpg
*.emf
src/simulation_5/result.mat
*.blg
*.fdb_latexmk
*.aux 
*.log
src/simulation_5/slprj
*.slxc
*.bak
src/simulation_5/out_store.mat
src/simulation_5/untitled.slx.autosave
report/a_main.bbl
report/a_main.out
src/simulation_5/PMSM_generator.slxc
references/summary/reference_summary.synctex.gz
src/simulation_5/lookup_cP_3v_theta_lambda.mat
src/simulation_5/lookup_cP_theta_lambda.mat
src/simulation_5/lookup_cT_3v_theta_lambda.mat
src/simulation_5/lookup_cT_theta_lambda.mat
src/simulation_5/lookup_cP_3v_omega_theta_V0.mat
src/simulation_5/lookup_cT_3v_omega_theta_V0.mat
src/simulation_5/lookup_cP_3v_omega_theta_V0_u.mat
src/simulation_5/lookup_cT_3v_omega_theta_V0_u.mat
*.bbl
*.out
*.acn
*.fls
*.toc
*.glo
*.ist
